<div class="container" [ngSwitch]="this.proyectNro" transition-style="in:circle:bottom-right">
    <div class="navbar" id="navbar">
        <a href="#about">about</a>
        <a href="#personal">personal info</a>
        <a href="#skills">skills</a>
        <a href="#proyects">proyectos</a>
    </div>

    <!-- Aplicación de turnos médicos -->
    <div *ngSwitchCase="1">
        <h1 class="project_header">Aplicación de turnos médicos</h1>
        <a target="_blank" href="https://github.com/thiagoqua/TurnosMedicos">GitHub</a>
        <div class="section">
            <h1>Descripción</h1>
            <p>
                Tanto la versión web como la de escritorio se encuentran en la misma solución y en el mismo repositorio de GitHub.
                <br>
                <br>
                El sistema cuenta con dos roles de usuarios: rol de paciente y rol de médico. 
                <br>
                Un usuario <i class="accent">paciente</i> podrá sacar turnos, visualizarlos con sus revspectivos detalles y eliminarlos. El sistema le permitirá emitir un reporte PDF con el listado de todos sus turnos sacados vigentes.
                <br>
                Un usuario <i class="accent">médico</i> podrá definir su disponibilidad en cada sucursal de la compañía médica, 
                modificarla, eliminarla y ver los turnos que los pacientes tienen con él/ella en un día determinado. El sistema le permitirá emitir un reporte PDF con el listado de todos los turnos vigentes que los pacientes tienen con el médico en cuestión para una fecha en específico.
                <br>
                <br>
                La estructura está pensada para que el sanatorio (o ente que use el sistema) trabaje con obras sociales, brindándoles éstas acceso a una base de datos o un listado donde se encuentran todos los pacientes afiliados a dicha obra social.
                <br>
                Debido a que ésto no está implementado, la creación de los usuarios primero debe hacerse de manera manual a la DB, insertando a la tabla <i class="accent">afiliados</i> los datos necesarios para proceder al registro del paciente.
                <br>
                Una realizado, ya se puede continuar con el registro del usuario desde el apartado <i class="accent">registrarse</i> del sistema.
                <br>
                Cabe aclarar que el sistema solo permite registros de ésta manera para pacientes. Para agregar médicos, se tiene que hacer de manera manual a la DB insertando primero en la tabla <i class="accent">afiliados</i>, luego en la tabla <i class="accent">usuarios</i> y por último en la tabla <i class="accent">medico</i> con los datos correspondientes.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 section">
                <h1>Tecnologías utilizadas</h1>
                <ul>
                    <li>
                        <h4 class="tech">.NET FRAMEWORK</h4>
                    </li>
                    <li>
                        <h4 class="tech">ASP .NET (versión web)</h4>
                    </li>
                    <li>
                        <h4 class="tech">LINQ to SQL</h4>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 section">
                <h1>Lenguajes utilizados</h1>
                <ul>
                    <li>
                        <h4 class="tech">C#</h4>
                    </li>
                    <li>
                        <h4 class="tech">ASPX (versión web)</h4>
                    </li>
                    <li>
                        <h4 class="tech">CSS (versión web)</h4>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 section">
                <h1>Base de datos</h1>
                <ul>
                    <li>
                        <h4 class="tech">SQL Server</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Tienda de ropa -->
    <div *ngSwitchCase="2">
        <h1 class="project_header">Página web para tienda de ropa</h1>
        <a target="_blank" href="https://github.com/estebantosoni/TiendaDigital">GitHub</a>
        <div class="section">
            <h1>Descripción</h1>
            <p>
                Tanto el apartado backend como frontend se encuentran en distintos directorios pero 
                en el mismo repositorio subido a GitHub.
                <br>
                <br>
                El sistema cuenta con dos roles de usuarios: rol de administrador y rol de cliente. 
                Pero a su vez, cualquier persona sin registrarse también podrá ser capaz de ver el contenido de la página.
                <br>
                Un usuario <i class="accent">sin loguearse</i> podrá ver todos los productos que tiene disponible la tienda, con opciones de filtrado.
                <br>
                Un usuario <i class="accent">cliente</i> logueado, podrá ver todos los productos que tiene disponible la tienda
                agregando de la posibilidad de utilizar una lista de favoritos, donde podrá ir agregando los items 
                que más le interesa de la tienda y luego poder verlos con un solo click.
                <br>
                Un usuario <i class="accent">administrador</i> podrá agregar prendas y/o perfumes al catálogo web, quitarlos o 
                modificarlos.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 section">
                <h1>Tecnologías utilizadas</h1>
                <ul>
                    <li>
                        <h4 class="tech">ANGULAR</h4>
                    </li>
                    <li>
                        <h4 class="tech">SPRING</h4>
                    </li>
                    <li>
                        <h4 class="tech">RestFull App</h4>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 section">
                <h1>Lenguajes utilizados</h1>
                <ul>
                    <li>
                        <h4 class="tech">JAVA (backend)</h4>
                    </li>
                    <li>
                        <h4 class="tech">HTML (frontend)</h4>
                    </li>
                    <li>
                        <h4 class="tech">CSS (frontend)</h4>
                    </li>
                    <li>
                        <h4 class="tech">TypeScript (frontend)</h4>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 section">
                <h1>Base de datos</h1>
                <ul>
                    <li>
                        <h4 class="tech">MySQL</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Truco -->
    <div *ngSwitchCase="3">
        <h1 class="project_header">Juego del truco</h1>
        <a target="_blank" href="https://github.com/thiagoqua/envido">GitHub</a>
        <div class="section">
            <h1>Descripción</h1>
            <p>
                Este juego no tiene ningún tipo de logueo ni registro, ya que fue entregado como final de una
                de las primeras materias de la carrera.
                <br>
                <br>
                En el apartado <i class="accent">configuración</i>, podremos poner nuestro nombre de usuario a la hora de jugar.
                <br>
                <br>
                También cuenta con una aplicación de mensajería, donde podremos chatear con otra computadora 
                que esté corriendo el programa poniendo su dirección IP.
                <br>
                Este ultimo apartado fue desarrollado debido a que uno de los requerimientos del trabajo final era utilizar sockets en JAVA. La idea original era la de realizar una versión online para el juego del truco, pero debido a la falta de tiempo improvisamos realizando un chat.
            </p>
        </div>
        <div class="section">
            <h1>Lenguaje utilizado</h1>
            <ul>
                <li>
                    <h4 class="tech">JAVA</h4>
                </li>
            </ul>
        </div>
    </div>

    <!-- FTP -->
    <div *ngSwitchCase="4">
        <h1 class="project_header">Imitación del protocolo FTP</h1>
        <a target="_blank" href="https://github.com/thiagoqua/FTPredes">GitHub</a>
        <div class="section">
            <h1>Descripción</h1>
            <p>
                Este proyecto fue realizado para el final de la materia <i class="accent">Redes de computadoras</i>.
                <br>
                <br>
                El fin era desarrollar un protocolo similar al funcionamiento del <i class="accent">File Transfer Protocol</i> para lograr comprenderlo.
                <br>
                Posee implementados una pequeña cantidad de comandos que básicamente permiten pedir la transferencia de archivos, listar los archivos de un directorio y cambiar de directorio en el servidor.
            </p>
        </div>
        <div class="section">
            <h1>Lenguaje utilizado</h1>
            <ul>
                <li>
                    <h4 class="tech">C</h4>
                </li>
            </ul>
        </div>
    </div>
</div>