.container{
    text-align: center;
}

.section{
    margin-top: 5%;
}

.project_header{
    margin-top:5%;
    text-align: center;
    font-size: 350%;
    font-weight: 900;
    color:#C16E70;
}

.accent{
    color:#DC9E82;
    font-style:normal;
}

.tech{
    margin-top:5%;
    font-weight: 600;
    color:#C16E70;
}