::selection{
  background-color: #8fbeba;
  color:#FEF9EF;
}

:root{
  --primary:#FE6D73;
  --secondary:#17C3B2;
  --background:#FEF9EF;
  --text:#18566d;
  --extra:#FFCB77;

  /* 
  --primary-darker:#6B2D30;
  --secondary-darker:#0A5B53;
  --extra-darker:#8F7243;
  --icon:#DBD6CD;
  */
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body{
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  background-color: var(--background);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

a, .link{
  text-decoration: none;
  color:var(--primary);
}

a:hover, .link:hover, .navbar a:hover{
  color: var(--extra);
}

b{
  font-weight: 600;
}

p{
  color:var(--text);
}

/* navigation bar */
.navbar{
  display:flex;
  flex-direction: column;
  position: fixed;
  top:0;
  right: 0;
  margin-right:2%;
  text-align: center;
  z-index: 1;
}

.navbar:hover{
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

.navbar a{
  color:var(--primary);
}

.blur_in{
  animation:blur-in 1.5s linear both
}

.scrolled{
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
}

.scroll_on_top{
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

.section_header{
  text-align: center;
  font-size: 400%;
}
/* animations classes */
.circle-in-animation {
  animation: 10s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}

.circle-in-animation-shorter {
  animation:5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}

.button {
  margin-top:3%;
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  color:var(--primary);
  border: 2px solid var(--primary);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color:var(--primary);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: var(--text);
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active {
  scale: 1;
}

/* animations definitions */
@keyframes blur-in{
  0%{
      filter:blur(12px);opacity:0
  }
  100%{
      filter:blur(0);opacity:1
  }
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0.1;}
}

@-webkit-keyframes fadeOut {
  from {opacity: 1;} 
  to {opacity: 0.1;}
}

@keyframes fadeIn {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0.1;} 
  to {opacity: 1;}
} 

@keyframes circle-in-center {
  from {
      clip-path: circle(0%);
  }
  to {
      clip-path: circle(125%);
  }
}

/* phone screen */
@media (max-width: 540px){
  .navbar{
      position:absolute;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      width: 95%;
  }

  .section_header{
    font-size: 350%;
  }
}