ul{
  color:var(--text);
}

h2{
  color:var(--primary);
  font-family: 'Moirai One', cursive;
  font-size:300%;
}

.personal{
  margin-top:10%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block-info{
  flex-grow:1;
  width: 30%;
}

.block-info-larger{
  width:70%;
}

.block-info-1{
  flex-grow:1;
  width: 45%;
}

.block-info-larger-1{
  width:55%;
}

.item{
  font-size: 27px;
  font-family: 'Geologica', sans-serif;
}

.item{ 
  color:var(--secondary);
}

.grade{
  color: var(--extra);
}

.description{
  font-size: 110%;
}

@media (max-width: 850px){
  .block-info, .block-info-1, .block-info-larger, .block-info-larger-1{
    width: 50%;
  }

  .block-info, .block-info-larger-1{
    text-align: right;
  }
}

@media(max-width:560px){
  .personal{
    flex-direction: column;
  }
  .block-info, .block-info-1, .block-info-larger, .block-info-larger-1{
    width:100%;
    text-align: center;
  }

}

@media (max-width: 360px){
  .personal {
    font-size:100%;
  }

  .personal h2{
    font-size:275%;
  }

  .personal h3{
    font-size:175%;
  }
}