.start{
  margin-top:20vh;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  position: static;
  height:80vh;
}

.whoami{
  text-align: center;
  width: 100%;
}

.name{
  font-family: 'Righteous', cursive;
  font-size: 600%;
  font-weight: 500;
  color:var(--primary);
  margin-bottom:0;
}

.profession{
  text-align: right;
  font-size: 250%;
  font-weight: 500;
  font-family: 'Outfit', sans-serif;
  color:var(--secondary);
}

.sections{
  width: 80%;
  margin-left:10%;
}

.about{
  font-size: large;
}


@media (max-width: 850px){
  .start{
    height: 100vh;
  }
}
/* phone screen */
@media (max-width: 540px){
  .start{
    height: 100vh;
  }
}

@media (max-width: 360px){
  .start,.sections{
    font-size: 80%;
  }
}