::selection {
  background-color: #f5dd90;
  color: #303d57;
}

:root {
  --primary: #0FA3B1;
  --secondary: #FF9B42;
  --background: #D9E5D6;
  --text: #937866;
  --extra: #F7A072;
  --disabled: #525252;
  --touch: #5b49ad;
  /* --primary: #F15152;
  --secondary: #1E555C;
  --background: #3A2E39;
  --text: #F4D8CD;
  --extra: #EDB183; */
  /* --primary: #76ce23;
  --secondary: #A846A0;
  --background: #272D2D;
  --text: #F6F8FF;
  --extra: #50514F; */
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  background-color: var(--background);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a,
.link {
  text-decoration: none;
  color: var(--primary);
}

a:hover,
.link:hover,
.navbar a:hover {
  color: var(--extra);
}

b {
  font-weight: 600;
}

p {
  color: var(--text);
  font-size: large;
}

.argentina-lang {
  font-style: normal;
  animation: flicker-arg 5s linear infinite both;
}

.yankee-lang {
  font-style: normal;
  animation: flicker-usa 5s linear infinite both;
}

/* language changer */
.lang-changer{
  margin-top: 0px;
  margin-left: 2%;
  text-align: center;
  z-index: 1;
}

/* navigation bar */
.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 7px;
  right: 0;
  margin-right: 2%;
  text-align: center;
  z-index: 1;
}

.navbar:hover {
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

.navbar a {
  color: var(--primary);
}

.lang-down{
  display:flex;
  gap:1rem;
}

.down-cv{
  color:var(--secondary);
}

.blur_in {
  animation: blur-in 1.5s linear both;
}

.scrolled {
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
}

.scroll_on_top {
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

.section_header {
  color: var(--primary);
  text-align: center;
  font-size: 400%;
}
/* animations classes */
.circle-in-animation {
  animation: 10s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}

.circle-in-animation-shorter {
  animation: 5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}

.button {
  margin-top: 3%;
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--primary);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: var(--text);
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.button:active {
  scale: 1;
}

/* animations definitions */
@keyframes blur-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

@keyframes flicker-arg {
  0%,
  100% {
    opacity: 1;
    color: #3eb4c4;
  }
  41.99% {
    opacity: 1;
  }
  43.01% {
    opacity: 1;
    color: #ffffff;
  }
  47.99% {
    opacity: 1;
  }
  49.01% {
    opacity: 1;
    color: #fffd71;
  }
}

@keyframes flicker-usa {
  0%,
  100% {
    opacity: 1;
    color: #2d36a0;
  }
  41.99% {
    opacity: 1;
  }
  43.01% {
    opacity: 1;
    color: #ffffff;
  }
  47.99% {
    opacity: 1;
  }
  49.01% {
    opacity: 1;
    color: #ca2323;
  }
}

/* phone screen */
@media (max-width: 540px) {
  .navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }

  .lang-down{
    justify-content: center;
    top:50px;
    position:absolute;
    width: 95%;
  }

  .navbar-project {
    text-align: center;
  }

  .lang-changer-project{
    margin-left:20%;
  }

  .section_header {
    font-size: 280%;
  }
}

@media (max-width: 360px) {
  .navbar {
    margin-top:2%;
    font-size: 70%;
  }

  .lang-changer,.lang-changer-project, .down-cv{
    font-size: 70%;
  }

  .section_header {
    font-size: 10vw;
  }
}
