ul {
  color: var(--text);
}

h2 {
  color: var(--primary);
  font-family: "REM", sans-serif;
  font-size: 300%;
}

.start {
  margin-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: static;
  height: 80vh;
}

.whoami {
  text-align: center;
  width: 100%;
}

.name {
  font-family: "Righteous", cursive;
  font-size: 600%;
  font-weight: 500;
  color: var(--primary);
  margin: 0;
}

.profession {
  text-align: right;
  font-size: 250%;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  color: var(--secondary);
}

.sections {
  width: 80%;
  margin-left: 10%;
}

.personal {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block-info {
  flex-grow: 1;
  width: 30%;
}

.block-info-larger {
  width: 70%;
}

.block-info-1 {
  flex-grow: 1;
  width: 45%;
}

.block-info-larger-1 {
  width: 55%;
}

.item {
  font-size: 27px;
  font-family: "Geologica", sans-serif;
  color: var(--secondary);
}

.grade {
  color: var(--extra);
}

.description {
  font-size: 110%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-group {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  width: 15%;
  object-fit: contain;
}

.skill[src="/skills/lang-java.webp"]{
  max-height: 200px;
}

.skill[src="/skills/lang-ts.webp"],
.skill[src="/skills/frame-angular.webp"] {
  width: 13%;
  padding: 10px;
}

.skill[src="/skills/tech-docker.webp"] {
  width: 16%;
  max-height: initial;
}

.skill[src="/skills/db-mysql.webp"],
.skill[src="/skills/db-sqlsrv.webp"] {
  width: 13%;
  max-height: initial;
}

.skill-section {
  color: var(--touch);
  text-align: center;
}

.contacts-ctx {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 4rem;
}

.contacts {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.contacts a {
  text-align: center;
}

.icon {
  height: 100%;
  width: auto;
  object-fit: contain;
  transition: filter 0.5s;
  filter: invert(63%) sepia(0%) saturate(6857%) hue-rotate(72deg)
    brightness(94%) contrast(97%);
}

.icon:hover {
  filter: invert(60%) sepia(85%) saturate(326%) hue-rotate(330deg)
    brightness(104%) contrast(94%);
}

.link {
  color: var(--secondary);
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project_info_container {
  width: 85%;
}

.project_things_container {
  width: 12%;
  display: flex;
  align-items: center;
}

.project_title {
  color: var(--secondary);
  font-family: "Geologica", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

.projects {
  margin-top: 10%;
}

.tech_image {
  width: 100%;
  max-width: 160px;
  max-height: 160px;
  object-fit: contain;
  animation: blur-in 1s linear both;
}

@media (max-width: 1000px) {
  .project_info_container {
    width: 82%;
  }

  .project_things_container {
    width: 17%;
  }
}

@media (max-width: 850px) {
  .start {
    height: 100vh;
  }

  .block-info,
  .block-info-1,
  .block-info-larger,
  .block-info-larger-1 {
    width: 50%;
  }

  .block-info,
  .block-info-larger-1 {
    text-align: right;
  }

  .skill {
    width: 20%;
  }

  .skill[src="/skills/lang-ts.webp"],
  .skill[src="/skills/frame-angular.webp"] {
    width: 17%;
  }

  .skill[src="/skills/db-mysql.webp"],
  .skill[src="/skills/db-sqlsrv.webp"] {
    width: 20%;
  }

  .skill[src="/skills/tech-docker.webp"] {
    width: 25%;
  }

  .contacts {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .contacts-ctx {
    height: 3rem;
  }

  .project_info_container {
    width: 75%;
  }

  .project_things_container {
    width: 22%;
  }
}

@media (max-width: 670px) {
  .block-info,
  .block-info-1,
  .block-info-larger,
  .block-info-larger-1 {
    width: 100%;
    text-align: center;
  }
}

/* phone screen */
@media (max-width: 550px) {
  .name{
    margin-top:15%;
  }

  .start {
    height: 100vh;
  }

  .personal {
    flex-direction: column;
  }

  .skill {
    width: 40%;
  }

  .skill[src="/skills/lang-ts.webp"],
  .skill[src="/skills/frame-angular.webp"],
  .skill[src="/skills/db-mysql.webp"],
  .skill[src="/skills/db-sqlsrv.webp"] {
    width: 35%;
  }

  .skill[src="/skills/tech-docker.webp"] {
    width: 45%;
  }

  .skills {
    justify-content: center;
    gap: 2rem;
  }

  .project_info_container {
    width: 100%;
  }

  .project_things_container {
    display: none;
  }
}

@media (max-width: 360px) {
  .start,
  .sections {
    font-size: 60%;
  }

  .personal {
    font-size: 100%;
  }

  .personal h2 {
    font-size: 275%;
  }

  .personal h3 {
    font-size: 175%;
  }

  .project_title {
    font-size: 175%;
  }

  .section_header {
    font-size: 275%;
  }
}

/* animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blur-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
