h1{
  color:var(--primary);
  font-family: 'Moirai One', cursive;
  font-size:300%;
}

p{
  font-size: 110%;
}

.link {
  color:var(--secondary);
}

.project_title{
  color:var(--secondary);
  font-family: 'Geologica', sans-serif;
  font-weight: 500;
  font-size: 40px;
}


.projects{
  margin-top:10%;
}

@media (max-width: 360px){
  .project_title{
    font-size: 175%;
  }

  .section_header{
    font-size:275%;
  }
}