<div class="container">
  <div class="navbar">
    <a href="#about">about</a>
    <a href="#personal">personal info</a>
    <a>skills</a>
    <a>proyectos</a>
  </div>
  <div class="start">
    <div class="whoami">
      <h1 class="name">Thiago Quaglia</h1>
      <h2 class="profession">Junior Software Developer</h2>
    </div>
  </div>

  <div class="about" id="about">
    <p>
      Me llamo Thiago Quaglia. Desde pequeño que soy muy aficionado a la tecnología, lo que me ha
      permitido inclinarme por la programación a la hora de comenzar con los estudios.
    </p>
    <p>
      Actualmente, finalizando la carrera de "Analista Universitario en Sistemas".
    </p>
    <p>
      Estoy en busca de mi primer experiencia laboral en el ámbito de desarrollo de software, 
      que me permita incorporar conocimientos nuevos y ampliar y profundizar los adquiridos.
    </p>
  </div>

  <div class="personal-info" id="personal">
    
  </div>
</div>