---
import "../styles/global.css"

const { lang } = Astro.params;
const inProjectPage: boolean = Astro.url.pathname.includes("project");
const oppositeLang: string = lang == "es" ? "english" : "castellano";
const oppositeLocal: string = lang == "es" ? "en" : "es";
const oppositeURL: string = Astro.url.pathname.replace(lang!, oppositeLocal);
const changeTo: string = oppositeLocal == "es" ? "cambiar a " : "change to ";
---

<a
  class:list={[
    "blur_in",
    { "lang-changer-project": inProjectPage },
    { "lang-changer": !inProjectPage },
  ]}
  href={oppositeURL}
>
  {changeTo}
  <i
    class:list={[
      { "argentina-lang": oppositeLocal == "es" },
      { "yankee-lang": oppositeLocal == "en" },
    ]}>{oppositeLang}</i
  >
</a>
