---
import { evalSkillsLang } from "../logic/evalLang";

const { lang:pageLang } = Astro.params;

const {db, messaging} = evalSkillsLang(pageLang!);
---
<div class="skills">
  <h2 class="skill-section">Backend</h2>
  <div class="skills-group">
    <img src="/skills/lang-csh.webp" alt="" class="skill" />  
    <img src="/skills/frame-asp.net.webp" alt="" class="skill" />
  </div>
  <h2 class="skill-section">{db}</h2>
  <div class="skills-group">
    <img src="/skills/db-postgress.webp" alt="" class="skill" />
    <img src="/skills/db-mongo.webp" alt="" class="skill" />
  </div> 
  <h2 class="skill-section">{messaging}</h2>
  <div class="skills-group">
    <img src="/skills/comm-rabbit.webp" alt="" class="skill"/>
  </div>
  <h2 class="skill-section">DevOps</h2>
  <div class="skills-group">
    <img src="/skills/tech-docker.webp" alt="" class="skill"/>
    <img src="/skills/tech-aws.webp" alt="" class="skill"/>
    <img src="/skills/os-linux.webp" alt="" class="skill"/>
  </div>
</div>