---
import { evalSkillsLang } from "../logic/evalLang";

const { lang:pageLang } = Astro.params;

const {lang,db} = evalSkillsLang(pageLang!);
---
<div class="skills">
  <h2 class="skill-section">{lang}</h2>
  <div class="skills-group">
    <img src="/skills/lang-csh.webp" alt="" class="skill" />  
    <img src="/skills/lang-ts.webp" alt="" class="skill"/>
    <img src="/skills/lang-java.webp" alt="" class="skill" />
  </div>
  <h2 class="skill-section">Frameworks</h2>
  <div class="skills-group">
    <img src="/skills/frame-asp.net.webp" alt="" class="skill" />
    <img src="/skills/frame-angular.webp" alt="" class="skill" />
    <img src="/skills/frame-spring.webp" alt="" class="skill" />
  </div> 
  <h2 class="skill-section">DevOps</h2>
  <div class="skills-group">
    <img src="/skills/tech-docker.webp" alt="" class="skill"/>
    <img src="/skills/tech-aws.webp" alt="" class="skill"/>
  </div>
</div>