.contacts-ctx{
  margin-top:3rem;
  display:flex;
  flex-direction: row;
  justify-content: center;
  height: 4rem;
}

.contacts{
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.contacts a{
  text-align: center;
}

.icon{
  height: 100%;
  width: auto;
  object-fit: contain;
}

.icon:hover{
  filter:invert(66%) sepia(54%) saturate(505%) hue-rotate(309deg) brightness(106%) contrast(100%);
  animation: fadeIn 2s;
}

/* animation */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media(max-width:700px){
  .contacts-ctx{
    height: 3rem;
  }
}

@media(max-width:900px){
  .contacts{
    width: 100%;
  }
}