::selection{
    color: #d2ffd1;
    background-color: #030027;;
}

[transition-style="in:circle:center"] {
    animation: 10s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}

[transition-style="in:circle:bottom-right"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-bottom-right both;
}
  
[transition-style="in:wipe:bottom-right"] {
    animation: 4s cubic-bezier(.25, 1, .30, 1) wipe-in-bottom-right both;
}

/* elements style */
html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F2F3D9;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body::-webkit-scrollbar{
    display:none;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

h1, h2{
    font-family: 'Cairo Play', cursive;
}

p{
    color:#030027;
}

a{
    color:#151E3F;
    text-decoration: none;
}

a:hover{
    color: #C16E70;
}

b{
    font-weight: 600;
}

/* navigation bar */
.navbar{
    display:flex;
    flex-direction: column;
    position: fixed;
    top:0;
    right: 0;
    margin-right:2%;
}

.navbar:hover{
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

.scrolled{
    animation: fadeOut 0.5s;
    animation-fill-mode: forwards;
}

.scroll_on_top{
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

.blur_in{
    animation:blur-in 1.5s linear both
}

/* para webhost */
img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{
    display:none;
}

/* animations section */
@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0.1;}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;} 
    to {opacity: 0.1;}
}

@keyframes fadeIn {
    from {opacity: 0.1;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0.1;} 
    to {opacity: 1;}
} 

@keyframes blur-in{
    0%{
        filter:blur(12px);opacity:0
    }
    100%{
        filter:blur(0);opacity:1
    }
}

@keyframes circle-in-center {
    from {
        clip-path: circle(0%);
    }
    to {
        clip-path: circle(125%);
    }
}

@keyframes circle-in-bottom-right {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(150% at bottom right);
    }
}

@keyframes wipe-in-bottom-right {
    from {
      clip-path: polygon(0 0, 0 0, 0 0, 0 50%);
    }
    to {
      clip-path: polygon(-50% 0%, 200% 0, 0 200%, 0 -50%);
    }
}

/* phone screen */
@media (max-width: 540px){
    .navbar{
        position:fixed;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        background-color: #F2F3D9;
        z-index: 1;
    }

    a:hover {
        animation: accentuate 5s;
    }

    .about, .section{
        padding-top: 10%;
    }
}

@keyframes accentuate {
    from {
        color: #C16E70;        
    }
    to {
        color:#151E3F;
    }
}

