::selection{
    color: #d2ffd1;
    background-color: #030027;;
}

/* elements style */
body{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color: #F2F3D9;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

h1, h2{
    font-family: 'Cairo Play', cursive;
}

p{
    color:#030027;
}

a{
    color:#151E3F;
    text-decoration: none;
}

a:hover{
    color: #C16E70;
}

b{
    font-weight: 600;
}

/* navigation bar */
.navbar{
    display:flex;
    flex-direction: column;
    position: fixed;
    top:0;
    right: 0;
    margin-right:2%;
}

.navbar:hover{
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

.scrolled{
    animation: fadeOut 0.5s;
    animation-fill-mode: forwards;
}

.scroll_on_top{
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0.1;}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;} 
    to {opacity: 0.1;}
}

@keyframes fadeIn {
    from {opacity: 0.1;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0.1;} 
    to {opacity: 1;}
}