/* init section */
.start{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: static;
    height: 100vh;
}

.whoami{
    text-align: center;
    width: 100%;
}

.name{
    font-family: 'Righteous', cursive;
    font-size: 600%;
    color:#151E3F;
}

.profession{
    margin-left: 30%;
    font-size: 250%;
    font-family: 'Outfit', sans-serif;
    color:#DC9E82
}

/* about me section */
.about{
    font-size: large;
}

/* personal info section */
.section{
    margin-top:10%;
    color:#151E3F;
}

.section_item{
    color:#DC9E82;
}

.grade{
    color:#C16E70;
}

/* skills section */
.section_header{
    text-align: center;
    font-size: 350%;
    font-weight: 900;
    color:#C16E70;
}

.skills{
    margin-top:4%;
}

.circle{
    margin-top:3%;
}

/* proyects section */
.project{
    margin-top:5%;
}

.project h2{
    color:#C16E70;
}

.project a{
    color:#C16E70;
}

/* contact section */
.contact{
    text-align: center;
    margin-top:4%;
}

.contact_image{
    width: 100%;
}

.icon{
    width: 20%;
    margin-top:20px;
    border-radius: 10px;
    margin-bottom:50px;
}

    .icon:hover{
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    margin-right: 6%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    background-color: #F2F3D9;
}
      
.wrapper .icon {
    position: relative;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
    
.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
    
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
    
.wrapper .mail:hover,
.wrapper .mail:hover .tooltip,
.wrapper .mail:hover .tooltip::before {
    background: #DB4437;
    color: #fff;
}
    
.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: #0072b1;
    color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #666666;
    color: #fff;
}

.wrapper .curriculum:hover,
.wrapper .curriculum:hover .tooltip,
.wrapper .curriculum:hover .tooltip::before {
    background: #ff0000;
    color: #fff;
}


/* equivale al sm de bootstrap */
@media (max-width: 540px){
    .circle{
        text-align: center;
    }
}

/* equivale al md de bootstrap */
@media (max-width: 720px){
}

/* equivale al lg de bootstrap */
@media (max-width: 960px){
    .circle{
        margin-bottom: 4%;   
    }
}