---
import { evalSkillsLang } from "../logic/evalLang";

const { lang:pageLang } = Astro.params;

const {lang,db} = evalSkillsLang(pageLang!);
---
<div class="skills">
  <h2 class="skill-section">{lang}</h2>
  <div class="skills-group">
    <img src="/skills/lang-java.png" alt="" class="skill" />
    <img src="/skills/lang-kt.png" alt="" class="skill" />
    <img src="/skills/lang-csh.png" alt="" class="skill" />
    <img src="/skills/lang-c++.png" alt="" class="skill" />
    <img src="/skills/lang-c.png" alt="" class="skill"/>
    <img src="/skills/lang-ts.png" alt="" class="skill"/>
  </div>
  <h2 class="skill-section">Frameworks</h2>
  <div class="skills-group">
    <img src="/skills/frame-spring.png" alt="" class="skill" />
    <img src="/skills/frame-asp.net.png" alt="" class="skill" />
    <img src="/skills/frame-angular.png" alt="" class="skill" />
  </div> 
  <h2 class="skill-section">{db}</h2>
  <div class="skills-group">
    <img src="/skills/db-mysql.png" alt="" class="skill" />
    <img src="/skills/db-sqlsrv.png" alt="" class="skill" />
  </div>
  <h2 class="skill-section">DevOps</h2>
  <div class="skills-group">
    <img src="/skills/tech-docker.png" alt="" class="skill"/>
  </div>
</div>